<div class="home-container">
    <section class="home-nav">
        <div class="home-nav-content">
            <img src="../../../assets/logo-noname.svg" alt="" >
            <a class="login" (click)="navigateToPage('login')">Login</a>
        </div>
    </section>

    <section class="home-body">
        <div class="pack">
            <img src="../../../assets/pic2.svg" alt="">
            <p>Easy to create quiz for mobile app</p>
            <button class="animated-button thar-left">Get Started</button>
        </div>
        <div class="pack">
            <img src="../../../assets/pic1.svg" alt="">
            <p>Check out the rankings</p>
            <button class="animated-button thar-mid">Get Started</button>
        </div>
        <div class="pack">
            <img src="../../../assets/pic3.svg" alt="">
            <p>User management is easier than ever</p>
            <button class="animated-button thar-right">Get Started</button>
        </div>
        <!-- <div class="square">
        </div>
        <div class="triangle">
        </div>
        <div class="circle">
        </div> -->
    </section>
</div>

